@charset "UTF-8";

body {
    font-family: "Noto Sans JP", "Montserrat", sans-serif;
    line-height: 1.75;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

li {
    list-style: none;
}

.section-main {
    padding-top: 50px;
}

.flex {
    display: flex;
}

@media (max-width: 767.98px) {
    .sp-block {
        display: block;
    }
}

@media (min-width: 768px) {
    .pc-block {
        display: block;
    }
}

/* ヘッダー */
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 63px;
    padding-top: 21px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 21px;
    background-color: #fff;
}

@media (min-width: 768px) {
    .header {
        left: 0;
        right: 0;
        top: 28px;
        max-width: 1200px;
        margin: auto;
    }
}

.header-logo {
    max-width: 198px;
}

@media (min-width: 768px) {
    .header-logo {
        max-width: 263px;
    }
}

/* ハンバーガーボタン */
.hamburger-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}

@media (min-width: 768px) {
    .hamburger-button {
        display: none;
    }
}

.hamburger-button-bar {
    width: 24px;
    height: 3px;
    background-color: #000;
}

/* ﾊﾝﾊﾞｰｶﾞｰﾒﾆｭｰ */
@media (max-width: 767.98px) {
    .hamburger-menu-container {
        /* width: 100%; */
        background-color: #168352;
        position: fixed;
        top: 63px;
        left: 100%;
        padding: 32px;
        width: calc(100% - 32px);
        transition: all 0.6s;
        border-radius: 24.5px;
    }
}

@media (min-width: 768px) {
    .hide-on-pc {
        display: none;
    }
}

@media (min-width: 768px) {
    .hamburger-menu-container {
        background-color: transparent;
        position: static;
        top: 0;
        left: 0;
        padding: 0;
        display: flex;
        width: auto;
        border-radius: 0;
    }
}

.hamburger-menu-container-active {
    left: 50%;
    transform: translateX(-50%);
    visibility: visible;
}

.hamburger-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

@media (min-width: 768px) {
    .hamburger-menu-list {
        flex-direction: row;
        column-gap: 38px;
        margin-bottom: 8px;
    }
}

.hamburger-menu-list li a {
    color: #fff;
}

@media (min-width: 768px) {
    .hamburger-menu-list li a {
        color: #333;
        font-size: 16px;
    }
}

/* カバー */
.cover {
    padding-top: 72px;
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width: 768px) {
    .cover {
        max-width: 1198px;
        margin: auto;
        padding-top: 153px;
    }
}

.cover-container {
    margin-bottom: 26px;
}

@media (min-width: 768px) {
    .cover-container {
        display: flex;
        margin-bottom: 58px;
    }
}

/* ｷｬｯﾁｺﾋﾟｰ*/
.cover-catch {
    color: #000;
    font-size: 28px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .cover-catch {
        font-size: 40px;
    }
}

.cover-text {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
    word-break: break-all;
    line-break: anywhere;
}

@media (min-width: 768px) {
    .cover-text {
        font-size: 15px;
    }
}

@media (min-width: 768px) {

    .cover-catch,
    .cover-text {
        width: 50%;
        box-sizing: border-box;
    }
}

@media (min-width: 768px) {
    .cover-catch {
        padding-left: 32px;
    }
}

@media (min-width: 768px) {
    .cover-text {
        margin-top: 0;
        padding-left: 19px;
        padding-right: 37px;
        padding-top: 10px;
        letter-spacing: 0.08px;
    }
}

/* about */
@media (min-width: 768px) {
    .about {
        max-width: 970px;
        margin: auto;
        padding-top: 58px;
    }
}

.container-title {
    text-align: center;
    margin-bottom: 23px;
}

@media (min-width: 768px) {
    .container-title {
        margin-bottom: 31px;
    }
}

.container-title p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    color: #168352;
}

@media (min-width: 768px) {
    .container-title p {
        font-size: 20px;
    }
}

.container-title h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
}

@media (min-width: 768px) {
    .container-title h2 {
        font-size: 28px;
        margin-top: 6.2px;
        padding-left: 2px;
    }
}

.content-about-img-overlay {
    position: relative;
}

@media (min-width: 768px) {
    .content-about-img-overlay {
        position: static;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}

.content-about-img-overlay img {
    width: 100%;
    height: auto;
    display: block;
}

@media (min-width: 768px) {
    .content-about-img-overlay img {
        width: 390px;
        margin-right: 15px;
        border-radius: 40px;
    }
}

.content-about-text {
    position: absolute;
    top: 5.86%;
    left: 4%;
    right: 4%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 32px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 15px;
}

@media (min-width: 768px) {
    .content-about-text {
        position: static;
        width: 50%;
        padding: 0;
    }
}

.content-about-title {
    font-size: 18px;
    font-weight: 700;
    word-break: break-all;
    /* letter-spacing: 0.257px; */
    letter-spacing: 0.059px;
}

@media (min-width: 768px) {
    .content-about-title {
        font-size: 20px;
        /* margin-bottom: 29px; */
    }
}

.content-about-comment {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.105px;
    padding-top: 7px;
    padding-bottom: 18px;
    left: 4.2%;
    right: 4.2%;
}

@media (min-width: 768px) {
    .content-about-comment {
        padding: 0;
        padding-right: 65px;
        margin-top: 24px;
    }
}

/* Features */
.features {
    background-color: #f3f9f6;
    padding-bottom: 58px;
}

@media (min-width: 768px) {
    .features {
        /* max-width: 1200px;
        margin: auto; */
        margin-top: 68px;
        padding-bottom: 64px;
    }
}

.container-title-features {
    margin-bottom: 22px;
}

@media (min-width: 768px) {
    .container-title-features {
        padding-bottom: 9px;
    }
}

.content-features {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

@media (min-width: 768px) {
    .content-features {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1168px;
        margin: auto;
    }
}

.content-features-box {
    width: 358px;
    align-items: center;
    margin: auto;
    border-radius: 24px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

@media (min-width: 768px) {
    .content-features-box {
        margin: 0;
        width: 370px
    }
}

.content-features-box img {
    width: 100%;
}

.content-features-box P {
    font-size: 18px;
    font-weight: 700;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 11px;
    letter-spacing: 0.105px;
    background-color: #fff;
}

@media (min-width: 768px) {
    .content-features-box P {
        /* padding: 0; */
        padding-top: 12px;
        padding-left: 21px;
        letter-spacing: 1.107px;
        padding-right: 21px;
        padding-bottom: 17px;
    }
}

/* Products */
.products {
    width: 100%;
    width: 358px;
    margin: auto;
    padding-top: 51px;
}

@media (min-width: 768px) {
    .products {
        width: 100%;
        max-width: 1100px;
        margin: auto;
        padding-top: 57px;
    }
}

@media (min-width: 768px) {
    .products .container-title h2 {
        margin-top: 8px;
    }
}

.products-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 768px) {
    .products-content {
        gap: 40px;
    }
}

@media (min-width: 768px) {
    .products-content-pc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px
    }
}

.products-content-box {
    background-color: #168352;
    border-radius: 24px;
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    gap: 17px;
}

@media (min-width: 768px) {
    .products-content-box {
        flex: 1;
        align-items: flex-start;
        padding-top: 25px;
        padding-left: 30px;
        padding-bottom: 22px;
        gap: 31px;
    }
}

@media (min-width: 768px) {
    .three_row .products-content-box {
        padding-top: 20px;
        padding-left: 24px;
        padding-bottom: 20px;
        gap: 18px;
    }
}

.products-content-box img {
    width: 100px;
}

@media (min-width: 768px) {
    .products-content-box img {
        width: 100%;
        width: 133px;
        height: auto;
    }
}

@media (min-width: 768px) {
    .three_row .products-content-box img {
        width: 100%;
        width: 110px;
        height: auto;
    }
}

.products-content-box P {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    max-width: 180px;
    padding-top: 18px;
}

@media (min-width: 768px) {
    .products-content-box P {
        font-size: 24px;
        padding-top: 22px;
        max-width: none;
    }
}

@media (min-width: 768px) {
    .three_row img {
        width: 100%;
        width: 113px;
        height: auto;
    }
}

@media (min-width: 768px) {
    .three_row p {
        font-size: 20px;
        padding-top: 17px;
    }
}

.break-line {
    display: block;
}

/* case */
.case {
    margin-top: 55px;
    padding-bottom: 49px;
    background-color: #f3f9f6;
}

@media (min-width: 768px) {
    .case {
        margin-top: 63px;
        padding-bottom: 62px;
    }
}

@media (min-width: 768px) {
    .container-title-case {
        margin-top: 4px;
    }
}

.case-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@media (min-width: 768px) {
    .case-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1168px;
        margin: auto;
        gap: 32px;
    }
}

.case-content-box {
    color: #09947b;
    font-size: 18px;
    font-weight: 700;
    width: 358px;
    margin: auto;
}

@media (min-width: 768px) {
    .case-content-box {
        flex: 1;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .case-content-box ing {
        width: 100%;
        border-radius: 20px;
    }
}

.case-content-box p {
    margin-top: 8px;
    padding-left: 2px;
}

@media (min-width: 768px) {
    .case-content-box p {
        margin-top: 10px;
        letter-spacing: 0.85px;
    }
}

.case-content-box .naoshi {
    margin-top: 9px;
}

/* news */
.news {
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    .news {
        margin-top: 4px;
        margin-bottom: 34px;
    }
}

.news .container-title {
    margin-bottom: 22px;
}

@media (min-width: 768px) {
    .news .container-title {
        margin-bottom: 31px;
    }
}

.news-content ul {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    max-width: 360px;
    margin: auto;
}

@media (min-width: 768px) {
    .news-content ul {
        display: flex;
        max-width: 900px;
        gap: 21px;
        padding-top: 16px;
        padding-bottom: 15px;
    }
}

.news-content-box {
    justify-content: flex-start;
    padding-top: 16px;
    gap: 18px;
}

@media (min-width: 768px) {
    .news-content-box {
        padding-top: 0;
        gap: 14px;
    }
}

.news-date {
    color: #222;
    font-size: 15px;
}

.news-tag {
    background-color: #473221;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    width: 134px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.news-title {
    color: #09947b;
    font-size: 15px;
    margin-top: 9.5px;
    margin-bottom: 9.2px;
    padding-left: 2px;
}

@media (min-width: 768px) {
    .news-title {
        margin: 0;
    }
}

.syusei {
    padding-top: 15px;
}

@media (min-width: 768px) {
    .syusei {
        padding: 00;
    }
}

.syusei .news-tag {
    padding-bottom: 2px;
}

/* btn */
.news-btn-basic {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.news-btn {
    display: block;
    width: 300px;
    margin: auto;
    padding-bottom: 7px;
    background-color: #066655;
    border-radius: 33px;
    overflow: hidden;
}

.news-btn .inner {
    display: block;
    background-color: #09947b;
    border-radius: 0 0 10px 10px;
    padding-top: 17px;
    padding-bottom: 15px;
}

.news-btn .inner:hover {
    background-color: #066655;
}

/* footer */
.footer {
    background-color: #168352;
    margin-top: 57px;
}

@media (min-width: 768px) {
    .footer {
        margin-top: 64px;
    }
}

.footer-content {
    display: flex;
    gap: 34px;
    justify-content: center;
    align-items: center;
    padding-top: 22.8px;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .footer-content {
        margin-top: 43px;
        gap: 41px;
        padding-top: 36px;
        padding-bottom: 33px;
    }
}


.footer-content a {
    color: #fff;
    font-size: 13px;
}

@media (min-width: 768px) {
    .footer-content a {
        font-size: 15px;
    }
}

.footer-content-price {
    position: relative;
}

.footer-content :first-child::after {
    content: "";
    width: 1px;
    height: 20px;
    display: block;
    background-color: #fff;
    position: absolute;
    right: -18px;
    top: 0;
}

@media (min-width: 768px) {
    .footer-content :first-child::after {
        right: -23px;
    }
}

@media (min-width: 768px) {
    .footer-content-fag {
        letter-spacing: -0.97px;
    }
}


/* ページをとぶ */
/* ヘッダーロゴ位置調整 */

.price-header-logo {
    margin: 0;
}

.price-header {
    padding-right: 25px;
}

@media (min-width: 768px) {
    .price-header {
        padding-right: 15px;
    }
}

@media (min-width: 768px) {
    .hamburger-menu-list-price {
        margin-bottom: 8px;
    }
}


/* price */
.merchandise {
    margin-top: 83px;
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width: 768px) {
    .merchandise {
        display: block;
        max-width: 1230px;
        margin: auto;
        padding-top: 154px;
    }
}

@media (min-width: 768px) {
    .merchandise-container {
        position: relative;
    }
}

.merchandise-title {
    margin-top: 27px;
    font-size: 30px;
}

.merchandise-container picture,
.merchandise-container img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: inline-block;
}

@media (min-width: 768px) {
    .merchandise-title {
        margin: 0;
        font-size: 36px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #fff;
        border-radius: 0 40px 0 0;
        padding-left: 40px;
        padding-right: 37px;
        padding-top: 34px;
        padding-bottom: 35px;

    }
}

@media (min-width: 768px) {
    .breadcrumbs {
        max-width: 1232px;
        margin: auto;
    }
}

.merchandise-nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 23px;
    margin-right: 14px;
    margin-bottom: 0;
    gap: 21px;
}

@media (min-width: 768px) {
    .merchandise-nav {
        margin-top: 19px;
    }
}

.merchandise-nav li {
    font-size: 12px;
}

@media (min-width: 768px) {
    .products-service-carousel {
        max-width: 834px;
        margin: auto;
    }
}

.estination-price {
    margin-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 59px;
}


@media (min-width: 768px) {
    .estination-price {
        margin-top: 57px;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 59px;
    }
}

.price h3 {
    font-size: 22px;
    font-weight: 700;
}

@media (min-width: 768px) {
    .price h3 {
        font-size: 28px;
    }
}

.price h4 {
    font-size: 16px;
}

/* ｷﾞｬﾗりー */
.gallery-box {
    margin-top: 38px;
}

@media (min-width: 768px) {
    .gallery-box {
        margin-top: 58px;
    }
}

/* スライド内画像を中央寄せ */
.gallery-box .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (min-width: 768px) {
    .gallery-box img {
        display: block;
        width: 100%;
        max-width: 800px;
        margin: auto;
    }
}

/* 2色に見える線を引く */
.two-color-under-line {
    position: relative;
}

.two-color-under-line::after {
    content: "";
    position: absolute;
    width: calc(100% - 0px);
    height: 2px;
    background-color: #ddd;
    bottom: -14px;
    left: 0;
    border-left: 50px solid #168352;
}

@media (min-width: 768px) {
    .two-color-under-line::after {
        bottom: -24px;
        border-left: 100px solid #168352;
    }
}

/* dots */
.slick-dots {
    bottom: 2px;
}

@media (min-width: 768px) {
    .slick-dots {
        bottom: 15px;
    }
}

.slick-dots li button:before {
    font-size: 10px;
    color: #eee;
}

.slick-dots li {
    margin: 0;
    width: 15px;
}

.slick-dots li.slick-active button:before {
    color: #168352;
}


/* 特徴 */
.operation {
    margin: 0;
}

@media (min-width: 768px) {
    .operation {
        margin-top: 68px;
    }
}

@media (min-width: 768px) {
    .operation-contents {
        display: flex;
        gap: 31px;
        justify-content: space-between;
    }
}

.operation-box {
    flex: 1;
    /* 均等に幅を分ける */
    margin-top: 37px;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .operation-box {
        flex: 1;
        margin-top: 50px;
    }
}

.operation-box img {
    width: 100%;
}

@media (min-width: 768px) {
    .operation-box img {
        width: 100%;
        max-width: 247px;
        height: auto;
        display: block;
        margin: auto;
    }
}

.operation-box p {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    margin-top: 8px;
    margin-right: 1px;
    letter-spacing: 0.175px;
}

.operation-box-second {
    line-break: anywhere;
    margin-top: 34px;
}

@media (min-width: 768px) {
    .operation-box-second {
        margin-top: 50px;
    }
}

.operation-box-third {
    margin-top: 33px;
}

@media (min-width: 768px) {
    .operation-box-third {
        margin-top: 50px;
    }
}

@media (min-width: 768px) {
    .operation-box-third p {
        letter-spacing: -0.035px;
    }
}

/* 小売価格 */
.retail {
    margin: 0;
    margin-top: 54px;
}

@media (min-width: 768px) {
    .retail {
        margin-top: 59px;
    }
}

.list-price {
    font-family: "Montserrat";
    font-size: 33px;
    font-weight: 700;
    margin-top: 22px;
    letter-spacing: -0.525px;
}

@media (min-width: 768px) {
    .list-price {
        margin-top: 42px;
    }
}

.list-price span {
    font-size: 18px;
    padding-left: 9.4px;
}

/* スペック  */
.specs {
    margin: 0;
    margin-top: 47px;
}

@media (min-width: 768px) {
    .specs h3 {
        margin-top: 55px;
        letter-spacing: 0.575px;
    }
}

.aircraft .specs-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
    position: relative;
    padding-left: 18px;
    /* ボーダー分のスペース */
}

@media (min-width: 768px) {
    .aircraft .specs-title {
        font-size: 24px;
        margin-top: 65px;
        /* margin-left: 32px; */
    }
}

.aircraft .specs-title::before {
    content: "";
    position: absolute;
    left: 0;
    /* 左端からの距離 */
    top: 0;
    bottom: 0;
    width: 2px;
    height: 28px;
    background-color: #168352;
}

.aircraft .specs-list {
    margin-top: 20px;
    border: 2px solid #f5f5f5;
}

@media (min-width: 768px) {
    .aircraft {
        max-width: 740px;
        margin: auto;
    }
}


@media (min-width: 768px) {
    .aircraft .specs-list {
        margin-top: 28px;
    }
}

@media (min-width: 768px) {
    .specs-row {
        display: flex;
        border-bottom: 1px solid #f5f5f5;
        align-items: stretch;
    }
}

.specs-list dt {
    background-color: #f5f5f5;
    padding-left: 18px;
    padding-top: 6px;
    padding-bottom: 8px;
}

@media (min-width: 768px) {
    .specs-list dt {
        width: 27%;
        background-color: #f5f5f5;
        padding-top: 16px;
        padding-bottom: 17.8px;
        box-sizing: border-box;
        font-weight: 600;
    }
}

.specs-list dd {
    margin: 0;
    padding-left: 18px;
    padding-top: 3px;
    padding-bottom: 5px;
}

@media (min-width: 768px) {
    .specs-list dd {
        width: 73%;
        padding-top: 16px;
        padding-left: 22px;
        box-sizing: border-box;
    }
}

/* お問い合わせ */
.price-contact {
    margin-top: 62px;
}

@media (min-width: 768px) {
    .price-contact {
        margin-top: 71px;
    }
}

.price-contact-img {
    position: relative;
    z-index: 0;
    width: 100%;
    padding-top: 142px;
    padding-bottom: 142px;
    text-align: center;
    background-image: url(../image/bg-sp.png);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .price-contact-img {
        position: relative;
        z-index: 0;
        width: 100%;
        padding-top: 187px;
        padding-bottom: 184px;
        text-align: center;
        background-image: url(../image/bg_pc.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.price-contact-img::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* 黒50％ */
    z-index: 1;
    pointer-events: none;
}

.btn-contact {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 40px;
    padding-top: 16px;
    padding-bottom: 23px;
    padding-left: 118px;
    padding-right: 118px;
    transition: 0.7s;

    position: relative;
    z-index: 2;
}

.btn-contact:hover {
    color: #168352;
    background-color: #fff;
}

.price-footer {
    margin-top: 0;
}

.price-footer-box {
    margin-top: 0;
}



/* ページをとぶ  faq*/
/* ヘッダーロゴ位置調整 */
.flex {
    display: flex;
}

@media (min-width: 768px) {
    .fag-header {
        padding-right: 15px;
    }
}

@media (min-width: 768px) {
    .hamburger-menu-list-fag {
        margin-bottom: 8px;
    }
}

.faq-merchandise-title {
    margin-top: 11px;
}

.faq-merchandise-nav {
    margin-top: 15px;
}

.faq-container {
    margin-top: 36px;
    padding-left: 16px;
    padding-right: 16px;
}

/* アコーディオン */
.accordion-container {
    border: 1px solid #ccc;
    border-radius: 16px;
    padding-left: 22px;
    padding-right: 22px;
}

.accordion-title {
    display: flex;
    align-items: flex-start;
    margin-top: 13px;
}

.accordion-title .label-icon {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #168352;
}

.accordion-title i {
    font-size: 24px;
}

.accordion-box {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 17px;
    margin-right: auto;
}

.accordion-container .accordion-subhead {
    font-size: 11px;
    color: #168352;
    border: 1px solid #168352;
    border-radius: 4px;

    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 4px;
}

.accordion-container .subhead-text {
    display: block;
    font-size: 16px;
}

.accordion-text {
    display: none;
    overflow: hidden;
}