@charset "UTF-8";

body {
    font-family: "Noto Sans JP", "Montserrat", sans-serif;
    line-height: 1.75;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

li {
    list-style: none;
}

section {
    padding-top: 50px;
}

.flex {
    display: flex;
}

/* ヘッダー */
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 63px;
    padding-top: 21px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 21px;
    background-color: #fff;
}

.header-logo {
    max-width: 198px;
}

/* ハンバーガーボタン */
.hamburger-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}

.hamburger-button-bar {
    width: 24px;
    height: 3px;
    background-color: #000;
}

/* ﾊﾝﾊﾞｰｶﾞｰﾒﾆｭｰ */
.hamburger-menu-container {
    /* width: 100%; */
    background-color: #168352;
    position: fixed;
    top: 63px;
    left: 50%;
    transform: translateX(-50%);
    padding: 32px;
    width: calc(100% - 32px);
    transition: all 0.6s;
    border-radius: 24.5px;
}

.hamburger-menu-container-active {
    left: 0;
    visibility: visible;
}

.hamburger-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    text-align: center;
    /* padding-top: 10.8px;
    margin-bottom: 7px; */
    font-size: 18px;
    font-weight: 700;
}

.hamburger-menu-list li a {
    color: #fff;
}

/* カバー */
.cover {
    padding-top: 72px;
    width: 358px;
    margin: auto;
}

.cover-container {
    margin-bottom: 26px;
}

/* ｷｬｯﾁｺﾋﾟｰ*/
.cover-catch {
    color: #000;
    font-size: 28px;
    font-weight: bold;
}

.cover-text {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
    word-break: break-all;
    line-break: anywhere;
}

/* about */
.container-title {
    text-align: center;
    margin-bottom: 23px;
}

.container-title p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 100;
    color: #168352;
}

.container-title h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
}

.content-about {
    background-image: url(..//image/about_us_sp@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: auto;
}

.content-about-text {
    background-color: rgba(255, 255, 255, 0.7);
    /* padding: 24px; */
    border-radius: 32px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 15px;
}

.content-about-title {
    font-size: 18px;
    font-weight: 700;
    word-break: break-all;
    letter-spacing: 0.257px;
}

.content-about-comment {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.105px;
    padding-top: 7px;
    padding-bottom: 18px;
}

/* Features */
.features {
    background-color: #f3f9f6;
    padding-bottom: 58px;
}

.container-title-features {
    margin-bottom: 22px;
}

.content-features {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.content-features-box {
    width: 358px;
    align-items: center;
    margin: auto;
    border-radius: 24px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.content-features-box P {
    font-size: 18px;
    font-weight: 700;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 11px;
    letter-spacing: 0.105px;
    background-color: #fff;
}

/* Products */
.products {
    width: 358px;
    margin: auto;
    padding-top: 51px;
}

.products-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products-content-box {
    background-color: #168352;
    border-radius: 24px;
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    gap: 17px;
}

.products-content-box img {
    width: 100px;
}

.products-content-box P {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    max-width: 180px;
    padding-top: 18px;
}

.break-line {
    display: block;
}

/* case */
.case {
    margin-top: 55px;
    padding-bottom: 49px;
    background-color: #f3f9f6;
}

.case-content-box {
    color: #09947b;
    font-size: 18px;
    font-weight: 700;
    width: 358px;
    margin: auto;
}

.case-content-box p {
    margin-top: 8px;
    padding-left: 2px;
}

.case-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.case-content-box .naoshi {
    margin-top: 9px;
}

/* news */
.news {
    margin-bottom: 25px;
}

.news .container-title {
    margin-bottom: 22px;
}

.news-content ul {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 360px;
    margin: auto;
}

.news-content-box {
    justify-content: flex-start;
    padding-top: 16px;
    gap: 18px;
}

.news-date {
    color: #222;
    font-size: 15px;
}

.news-tag {
    background-color: #473221;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    width: 134px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.news-title {
    color: #09947b;
    font-size: 15px;
    margin-top: 9.5px;
    margin-bottom: 9.2px;
    padding-left: 2px;
}

.syusei {
    padding-top: 15px;
}

.syusei .news-tag {
    padding-bottom: 2px;
}

/* btn */
.news-btn-basic {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.news-btn {
    display: block;
    width: 300px;
    margin: auto;
    padding-bottom: 7px;
    background-color: #066655;
    border-radius: 33px;
    overflow: hidden;
}

.news-btn .inner {
    display: block;
    background-color: #09947b;
    border-radius: 0 0 10px 10px;
    padding-top: 17px;
    padding-bottom: 15px;
}

.news-btn .inner:hover {
    background-color: #066655;
}

/* footer */
.footer {
    background-color: #168352;
    margin-top: 57px;
}

.footer-content {
    display: flex;
    gap: 34px;
    justify-content: center;
    align-items: center;
    padding-top: 22.8px;
    padding-bottom: 20px;
}

.footer-content a {
    color: #fff;
    font-size: 13px;
}

.footer-content-price {
    position: relative;
}

.footer-content :first-child::after {
    content: "";
    width: 1px;
    height: 20px;
    display: block;
    background-color: #fff;
    position: absolute;
    right: -18px;
    top: 0;
}